<ul class="nav flex-column" style="margin-top: 15px;">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" id="sidemenu-home">Home</a>
    <li class="nav-item">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#userManage" aria-expanded="true" aria-controls="collapseOne">
                        User management
                    </button>
                </h2>
                <div id="userManage" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <a class="nav-link active" aria-current="page" href="#" id="sidemenu-addUser">Add user</a>
                        <a class="nav-link active" aria-current="page" href="#" id="sidemenu-userList">User list</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#newsManage" aria-expanded="true" aria-controls="collapseOne">
                        News management
                    </button>
                </h2>
                <div id="newsManage" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <a class="nav-link active" aria-current="page" href="#" id="sidemenu-addNews">Add news</a>
                        <a class="nav-link active" aria-current="page" href="#" id="sidemenu-newsList">News list</a>
                    </div>
                </div>
            </div>
    </li>
</ul>

<style>
    .accordion-button:not(.collapsed) {
        color: black;
        background-color: #fff;
        box-shadow: none;
    }

    .accordion-item {
        border: 0;
    }

    .nav-link {
        color: black;
    }

    .accordion-button:focus {
        box-shadow: none;
    }

</style>