<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin/lib/css/bootstrap.css">
    <script src="/admin/lib/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="index.css">
    <link href="https://unpkg.com/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/@wangeditor/editor@latest/dist/index.js"></script>
<style>
  #toolbar-container { border-bottom: 1px solid #ccc; }
  #editor-container { height: 500px; }
</style>
</head>

<body>
    <div class="main">

        <!-- 动态插入导航栏，运用fetch请求片段，插入到页面 -->
        <div class="topbar">

        </div>
        <div class="box">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 sidemenu">

                    </div>
                    <div class="col-10 content">
                        <div class="maincontent">
                            <!-- breadcrumbs -->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item" aria-current="page">News Management</li>
                                    <li class="breadcrumb-item active" aria-current="page">Add news</li>
                                </ol>
                            </nav>

                            <form id="addNewsForm">
                                <div class="mb-3">
                                    <label for="title" class="form-label">Title</label>
                                    <input type="text" class="form-control" id="title" aria-describedby="emailHelp"
                                        required>

                                </div>
                                <div class="mb-3">
                                    <label for="content" class="form-label">Content</label>
                                    <div id="content" style="border:1px solid #ced4da;">
                                        <div id="toolbar-container"><!-- toolbar --></div>
                                        <div id="editor-container"><!-- editor --></div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="category" class="form-label">Category</label>
                                    <select class="form-select" aria-label="Default select example" id="category">
                                        <option value="0">Latest News</option>
                                        <option value="1">Typical Case</option>
                                        <option value="2">Announcement</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="cover" class="form-label">Cover Photo</label>
                                    <input type="file" class="form-control" id="coverphoto" required>
                                </div>

                                <button type="submit" class="btn btn-primary">Add news</button>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="index.js" type="module">

    </script>
</body>

</html>